body{
background-color:rgb(7, 117, 53);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
padding-top:45px;
text-align: center;
color:rgba(250, 250, 250, 0.95);
}

.description{
padding-top:20px;
text-align: center;
color:rgba(250, 250, 250, 0.95);
}

.container{
    display: flex;
    justify-content:space-evenly;
    padding-top: 10px;
    }

.count{
    background-color: rgba(250, 250, 250, 0.95);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom:50px;
    align-self: center;
    padding:5px;
    font-size:60px;
    min-width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #minus{
        order:0;
        text-align: center;
        font-size: x-large;
        margin-top: 50px;
        margin-bottom:50px;
        align-self: center;  
    }
    #plus{
        order:2;
        text-align: center;
        font-size: x-large;
        margin-top: 50px;
        margin-bottom:50px;
        align-self: center;   
    }
.buttonProperties{
        font-size:80px;
        color:rgba(250, 250, 250, 0.95);
       background-color: transparent;
       border:none;
       cursor: pointer;
}

@media screen and (max-width:360px){
 h1,.description,.container,.buttonProperties,.count,#minus,#plus{
 width: 100%;
 }   
}
