body{
background-color: lightseagreen;
}

h1{
padding-top:45px;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description{
padding-top:20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}

.container{
display: flex;
justify-content: space-around;
flex-direction: row;
padding-top: 10px;
}

button,.count{
text-align: center;
font-size: x-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 50px;
margin-bottom:50px;
align-self: center;
padding:5px;
}

.minus,.plus{
width: 100%;
}

@media screen and (max-width:360px){
 h1,.description,.container,button,.count,.minus,.plus{
 width: 100%;
 }   
}


